<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"> 
    <title>HOME</title>
</head>
<body>
    
    <div id="app">
        <div id="sidebar">
            <div id="toplogo">
            </div>
            <div id="resources">
            </div>
            <div id="pages">
            </div>
            <div id="sidebarbottom">
            </div>
        </div>
        <div id="viewbox">
            <div id="navbar">
                <div id="burger">
                </div>
                <div id="versioninfo">
                </div>
                <div id="userbox">
                    <form action="/logout" method="post">
                        <button>Cerrar Sesion</button>
                    </form>
                </div>
            </div>
            <div id="contentbox">  
            </div>
        </div>
    </div>
</body>
</html>